.body, .over-label {
    -fx-background-color: #EAEAEA;
}

.form-label, .form-input {
    -fx-border-width: 0 0 2 0;
}
.form-label {
    -fx-border-color: transparent;
}

.title {
    -fx-font-size: 24;
    -fx-font-family: "Open Sans Semibold";
    -fx-background-color: #448AFF;
    -fx-border-width: 1 0 1 0;
    -fx-border-color: #555;
}

.text-field {
    -fx-background-color: transparent;
    -fx-border-color: #aaa;
    -fx-border-radius: 2px;
}
.form-input:focused {
    -fx-border-color: #448AFF;
}

.button {
    -fx-padding: 10px 15px;
    -fx-background-color: #FAFAFA;
    -fx-border-width: 1 1 0 1;
    -fx-border-color: #bbb;
    -fx-text-fill: #448AFF;
    -fx-border-radius: 2px;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.6), 10, 0.1, 0, 4);
}
.button:hover{
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.6), 18, 0.2, 0, 7);
}
.button:pressed{
    -fx-background-color: #F0F0F0;
    -fx-text-fill: #3770cc;
}